.MainLayout {
    user-select: text;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        'sidebar content rightbar';
    grid-template-columns: min-content 1fr 100px;

    &.maxContentWidth {
        grid-template-columns: min-content 1fr min-content;
    }
}

.sidebar{
    grid-area: sidebar;
    padding: 10px;
    max-width: 284px;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.content{
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    width: 100%;
    padding: 20px;

    &.maxContentWidth {
        max-width: none;
    }
}

.toolbar {
    height: 100%;
    width: 100%;
}
