@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "themes/red";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}


.app-redesigned {
    background: var(--bg-redesigned);
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

body {

    &:has(.app-redesigned) {
        background: var(--bg-redesigned);
    }

    &:has(.app) {
        background: var(--bg-color);
    }
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg-redesigned);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-redesigned);
    border-radius: 20px;
    border: 1px solid var(--icon-redesigned);
}



.app *::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.app *::-webkit-scrollbar-track {
    background: var(--card-bg);
    border-radius: 20px;
}

.app *::-webkit-scrollbar-thumb {
    background-color: var(--inverted-bg-color);
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}
