.Loader {
    width: 250px;
    height: 50px;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    animation: l5-0 3s infinite steps(6);
    background:
        linear-gradient(var(--bg-color) 0 0) 0 0 / 0% 100% no-repeat,
        radial-gradient(circle 3px, var(--inverted-bg-color) 90%, #0000) 0 0 / 15% 100%
        var(--bg-color);
    overflow: hidden;
}

.Loader::before {
    content: "";
    width: 50px;
    transform: translate(-100%);
    border-radius: 50%;
    background: var(--primary-color);
    animation:
        l5-1 0.25s 0.153s infinite steps(5) alternate,
        l5-2  3s        infinite linear;
}

@keyframes l5-1 {
    0% { clip-path: polygon(50% 50%, 100%   0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%); }
    100% { clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100%  35%); }
}

@keyframes l5-2 {
    100% { transform: translate(200px); }
}

@keyframes l5-0 {
    100% { background-size: 120% 100%, 15% 100%; }
}
