.item {
    cursor: pointer;
    color: var(--text-redesigned);
    border-radius: 10px;
    padding: 8px 20px;
    min-width: 100%;

    &.selected {
        cursor: default;
        background-color: var(--light-bg-redesigned);
    }

    &.active:not(.readonly) {
        background-color: var(--light-bg-redesigned);
    }

    &.readonly {
        cursor: default;
        border-radius: 0;
        opacity: 0.5;
    }
}

.listText {
    margin: 2px 0;
}

.popupMenu {
    gap: 4px;
}
