.primary {
    &.title {
        font: var(--font-l);
        color: var(--primary-color);
    }

    &.text {
        font: var(--font-m);
        color: var(--secondary-color);
    }
}

.inverted {
    &.title {
        font: var(--font-l);
        color: var(--inverted-primary-color);
    }

    &.text {
        font: var(--font-m);
        color: var(--inverted-secondary-color);
    }
}

.error {
    &.title {
        font: var(--font-l);
        color: var(--primary-red-color);
    }

    &.text {
        font: var(--font-m);
        color: var(--secondary-red-color);
    }
}
