.eslintrc.js
.gitignore
.browserslistrc
.prettierrc.json
.prettierignore

.stylelintrc.json
cypress.config.ts
README.md
vite.config.ts
build/
.vscode/
.husky/
.github/
.loki/
cypress/
docs/
reports/
scripts/
.git/
node_modules/