.ArticleDetailPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendArticles {
    height: 300px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
