.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: background-color var(--transition-background-time), width 0.5s;
}

.switcher {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lang {
    margin-left: 50px;

    &.collapsed { margin-left: 0; }
}

.wrap {
    position: absolute;
    bottom: 40px;

    // left: 50%;
    right: -32px;

    // margin-right: -50%;
    // transform: translate(-50%);
    // align-items: center;
}

.items {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcher {
        flex-direction: column;
    }
}
