.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: background-color var(--transition-background-time), width 0.5s;

    &.collapsed {
        width: var(--sidebar-width-collapsed);
    }
}

.switchers {
    position: absolute;
    bottom: 20px;
}

.collapsed {
    .switchers {
        flex-direction: column;
    }
}

.lang {
    padding: 0 10px;

    &.collapsed {
        margin-left: 0;
    }
}

.wrap {
    position: absolute;
    bottom: 40px;
    right: -32px;
    z-index: 1;
}

.items {
    margin-top: 20px;
    margin-left: 25px;
}
