.Drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--closed-modal-z-index);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-shrink: 1;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    overflow-y: scroll;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
}


.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--opened-modal-z-index);
    transition: background-color 5s;

    .content {
        animation: open 0.5s forwards;
    }
}

@keyframes open {
    0% {transform: translateY(140%);}
    100% {transform: translateX(0);}
}


.closing {
    .content {
        animation: close 0.5s forwards;
    }
}

@keyframes close {
    0% {transform: translateX(0);}
    100% {transform: translateY(140%);}
}