.item {
    height: var(--font-size-l);
}

.link {
    margin-left: 10px;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -30px;
        opacity: 0;
    }

    to {
        margin-left: 10px;
        opacity: 1;
    }
}
