.BIG {
    .img {
        width: 100%;
        max-height: 420px;
        object-fit: cover;
        margin: 16px 0;
    }

    .textBlock {
        height: 72px;
        overflow: hidden;
    }
}

.SMALL {
    width: 240px;
    height: 360px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover {
        opacity: 0.85;
        transform: scale(1.02);
    }

    .img {
        width: 100%;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
        border-radius: 6px;
    }

    .info {
        padding: 8px;
    }

    .title {
        margin-top: 8px;
    }
}
