.ArticleDetailPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendArticles {
    height: 300px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.rating {
    background: var(--card-bg);
    padding: 15px 40px;
    border-radius: 14px;
    align-self: center;
    justify-content: center;
}
