.Popup {
    position: relative;
    display: inline-block;
}

.popupMenu {
    position: absolute;
    z-index: var(--popup-z-index);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--accent-redesigned);
    background-color: var(--dark-bg-redesigned);
    border-radius: 18px;
    overflow: hidden;

    &.topRight {
        left: 0%;
        bottom: 100%;
    }

    &.topLeft {
        bottom: 100%;
        right: 0%;
    }

    &.bottomRight {
        top: 100%;
        left: 0%;
    }

    &.bottomLeft {
        top: 100%;
        right: 0%;
    }
}
