

.paddding_4 {
    padding: 4px;
}

.paddding_8 {
    padding: 8px;
}

.paddding_12 {
    padding: 12px;
}

.paddding_16 {
    padding: 16px;
}

.paddding_20 {
    padding: 20px;
}




.normal {
    background: var(--dark-bg-redesigned);
    border-radius: 12px;
}

.light {
    background: var(--light-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}

.max {
    width: 100%;
}

.round {
    border-radius: 40px;
}
