.CodeFileTabs {
    border-bottom: 1px solid var(--sp-colors-surface2);
}

.tabs {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.buttonsFile {
    margin-left: 8px;
    margin-right: 8px;
}