.Code {
    padding: 20px;
    position: relative;
    background: var(--light-bg-redesigned);
    
    border: 1px solid var(--accent-redesigned);
    border-radius: 16px;
}

.codeText {
    overflow-x: scroll;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
