.app_dark_theme {
    --bg-color: #0e0e25;
    --primary-color: #00ff2a;
    --secondary-color: #1e5e29;
    --inverted-bg-color: #008634;
    --inverted-primary-color: #1d076b;
    --inverted-secondary-color: #3192ee;

    /* redesigned */
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555555;
    --cancel-redesigned: #D95757;
    --save-redesigned: #6CD98B;
    --icon-redesigned: #74A2B2;
    --accent-redesigned: #5ED3F3;
    --border-redesigned: #628a97;

    /* skeleton */
    --skeleton-shadow: #001486;
    --skeleton-color: #0412d4;

    /* code */
    --code-bg: #0c0c3b;

    /* card */
    --card-bg: #113;

    /* popups */
    --popup-bg: #337a42;
    --popup-shadow: #7ece8e;

    /* star */
    --star-stroke: #178b2c;
}
