.app_dark_theme {
    --bg-color: #0e0e25;
    --primary-color: #00ff2a;
    --secondary-color: #7fc78d;
    --inverted-bg-color: rgb(0 134 52);
    --inverted-primary-color: #1d076b;
    --inverted-secondary-color: rgb(117 150 180);
}
