.app_light_theme {
    --bg-color: #fff;
    --primary-color: #1d076b;
    --secondary-color: #3f57dd;
    --inverted-bg-color: #0d0d22;
    --inverted-primary-color: #00ff2a;
    --inverted-secondary-color: #7fc78d;

    // skeleton
    --skeleton-shadow: #b5f8ac;
    --skeleton-color: #67ff67;

    // code
    --code-bg: #cfffd1;

    // card
    --card-bg: #eee;

    // popups
    --popup-bg: #0707b8;
    --popup-shadow: #49a2f5;
}
