.app_light_theme {
    --bg-color: #fff;
    --primary-color: #1d076b;
    --secondary-color: #3f57dd;
    --inverted-bg-color: #0d0d22;
    --inverted-primary-color: #00ff2a;
    --inverted-secondary-color: #7fc78d;

    // redesigned
    --dark-bg-redesigned: #FFFFFF;
    --bg-redesigned: #EFF5F6;
    --light-bg-redesigned: #E2EEF1;
    --text-redesigned: #141C1F;
    --hint-redesigned: #ADBCC0;
    --cancel-redesigned: #FF7777;
    --save-redesigned: #62DE85;
    --icon-redesigned: #5ED3F3;
    --accent-redesigned: #00C8FF;

    // skeleton
    --skeleton-shadow: #b5f8ac;
    --skeleton-color: #67ff67;

    // code
    --code-bg: #cfffd1;

    // card
    --card-bg: #eee;

    // popups
    --popup-bg: #0707b8;
    --popup-shadow: #49a2f5;

    // star
    --star-stroke: #1b30a7;
}
