.app_light_theme {
    --bg-color: #fff;
    --primary-color: rgb(29 7 107);
    --secondary-color: rgb(117 150 180);
    --inverted-bg-color: #0e0e25;
    --inverted-primary-color: #00ff2a;
    --inverted-secondary-color: #7fc78d;
}
