.app_red_theme {
    --bg-color: #fbf3f3;
    --primary-color: #740000;
    --secondary-color: #ca2424;
    --inverted-bg-color: #d43636;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #ffc3c3;


    // redesigned
    --dark-bg-redesigned: #313131;
    --bg-redesigned: #ad2227;
    --light-bg-redesigned: #212121;
    --text-redesigned: #edf1ed;
    --hint-redesigned: #B8B2A2;
    --cancel-redesigned: #c42e2e;
    --save-redesigned: #52FA81;
    --icon-redesigned: #ad2227;
    --accent-redesigned: #a91616;
    --border-redesigned: #c42e2e;


    // skeleton
    --skeleton-shadow: #ffcaca;
    --skeleton-color: #ff9595;

    // code
    --code-bg: #ffd6d6;

    // card
    --card-bg: #ffdcdc;

    // popups
    --popup-bg: #e65353;
    --popup-shadow: #f37a7a;

    // star
    --star-stroke: #a50909;
}
