.app_red_theme {
    --bg-color: #fbf3f3;
    --primary-color: #740000;
    --secondary-color: #ca2424;
    --inverted-bg-color: #d43636;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #ffc3c3;

    // skeleton
    --skeleton-shadow: #ffcaca;
    --skeleton-color: #ff9595;

    // code
    --code-bg: #ffd6d6;

    // card
    --card-bg: #ffdcdc;

    // popups
    --popup-bg: #e65353;
    --popup-shadow: #f37a7a;
}
