.Button {
    cursor: pointer;
    padding: 8px 12px;
    outline-color: transparent;
    display: flex;
    color: var(--text-redesigned);
    align-items: center;
    display: flex;
    gap: 8px;
}

.normal {
    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg, .addonRight svg {
            color: var(--accent-redesigned);
        }
    }
}

.disabledBtn {
    cursor: default;
    opacity: 0.7;
}


.addonRight, .addonLeft {
    display: flex;
}

.addonRight svg, .addonLeft svg {
    color: var(--hint-redesigned);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.withAddon {
    padding: 7px 12px;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}


.outline {
    background: none;
    border-radius: 32px;

    &.normal {
        border: 2px solid var(--light-bg-redesigned);

        &:hover {
            border: 2px solid var(--accent-redesigned);
        }
    }

    &.error {
        border: 2px solid var(--cancel-redesigned);

        &:hover {
            opacity: 0.7;
        }
    }
    &.success {
        border: 2px solid var(--save-redesigned);

        &:hover {
            opacity: 0.7;
        } 
    }

    
}


.square {
    padding: 0;

    &.m {
        width: var(--font-line-m);
        height: var(--font-line-m);
    }

    &.l {
        width: var(--font-line-l);
        height: var(--font-line-l);
    }

    &.xl {
        width: var(--font-line-xl);
        height: var(--font-line-xl);
    }
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-re--font-m-redesigned);
}

.xl {
    font: var(--font-xl-re--font-m-redesigned);
}

