.Navbar {
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    transition: background-color var(--transition-background-time);
}

.dropMenu {
    margin-left: auto;
    margin-right: 10px;
}

.loginBtn {
    margin-left: auto;
    margin-right: 10px;
}

.appName {
    width: var(--sidebar-width);
    display: flex;
    justify-content: center;
}

.loginBtn {
    margin-left: auto;
    margin-right: 15px;
}

.createArticle {
    margin-left: 20px;
}