.Navbar {
    padding: 16px;
}

.loginBtn {
    margin-left: auto;
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    display: flex;
    justify-content: center;
}

.createArticle {
    margin-left: 20px;
}

.notification {
    margin-right: 12px;
}
