.AppLink {
    color: var(--primary-color);
}

.primary {
    &:not(.inverted) { color: var(--primary-color); }

    &.inverted { color: var(--inverted-primary-color); }
}

.secondary {
    &:not(.inverted) { color: var(--secondary-color); }

    &.inverted { color: var(--inverted-secondary-color); }
}
